body {
  background-image: linear-gradient(to bottom right, #01bdfd, #8e38d9);
  background-repeat: no-repeat;
  background-size: contain;
}

.topo {
  width: 50%;
  height: 602px;
  border-radius: 35px;
  margin: 10px auto;
  box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.66);
  background-color: #e6e7e4;
}

.bolas {
  display: flex;
  width: 100%;
  height: 50px;
  margin-left: 20px;
}

.bola {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.bola-1 {
  background: #ef406b;
}

.bola-2 {
  background: #f9cd50;
}

.bola-3 {
  background: #1a9782;
}

.navegacao {
  display: flex;
  width: 624px;
  height: 6%;
  margin-left: 6px;
  margin-right: 6px;
}

.barra {
  background: white;
  flex: 1;
  border-radius: 3px;
  margin-right: 5px;
}

.maior {
  flex: 4;
}

.barra-botoes {
  background-color: white;
  width: auto;
  margin-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 6px;
  margin-right: 6px;
}

.botoes {
  display: flex;
  width: 100%;
}

.botao {
  background: #e6e7e4;
  height: 35px;
  margin-top: 30px;
  margin-right: 5px;
  flex: 1;
}

.azul {
  background: #02a4d3;
}

.container {
  background-color: white;
  width: auto;
  height: 440px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.lado-esq {
  width: 265px;
}

.imagem-cinza {
  display: flex;
  background: #e6e7e4;
  width: 355px;
  height: 160px;
}

.botoesazuis {
  display: flex;
  width: 360px;
}

.bot-azul {
  background: #02a4d3;
  height: 30px;
  margin-top: 30px;
  margin-right: 5px;
  flex: 1;
}

.linha {
  margin-top: 30px;
}

.linha-cinza {
  background: #e6e7e4;
  height: 5px;
  width: 355px;
  margin-top: 6%;
}

.lado-dir {
  margin-left: 398px;
  margin-top: -400px;
}

.lateral-imagem {
  background: #e6e7e4;
  width: 136px;
  height: 60px;
  margin-top: 22px;
}

.lateral-linha {
  background: #e6e7e4;
  width: 136px;
  height: 7px;
  margin-top: 11px;
}