body {
  background-image: linear-gradient(to bottom right, #01bdfd, #8e38d9);
  background-repeat: no-repeat;
  background-size: contain;
}

.topo {
  width: 600px;
  height: 600px;
  border-radius: 35px;
  margin: 25px auto;
  box-shadow: 7px 10px 30px 0px rgba(0, 0, 0, 0.66);
  background-color: #e6e7e4;
}

.bolas {
  display: flex;
  width: 100%;
  height: 50px;
  margin-left: 20px;
}

.bola {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.bola-1 {
  background: #ef406b;
}

.bola-2 {
  background: #f9cd50;
}

.bola-3 {
  background: #1a9782;
}

.navegacao {
  display: flex;
  width: 590px;
  height: 40px;
  margin-left: 7.5px;
}

.barra {
  background: white;
  flex: 1;
  border-radius: 3px;
  margin-right: 5px;
}

.maior {
  flex: 4;
}

.container {
  background-color: white;
  width: 100%;
  height: 460px;
  margin-top: 5px;
  border: #e6e7e4;
  border-style: solid;
  padding-left: 50px;
  padding-right: 50px;
}

.botoes {
  display: flex;
  width: 100%;
}

.botao {
  background: #e6e7e4;
  height: 35px;
  margin-top: 30px;
  margin-right: 5px;
  flex: 1;
}

.azul {
  background: #02a4d3;
}

.imagem-cinza {
  background: #e6e7e4;
  width: 325px;
  height: 170px;
  margin-top: 30px;
}

.botoesazuis {
  display: flex;
  width: 330px;
}

.bot-azul {
  background: #02a4d3;
  height: 30px;
  margin-top: 30px;
  margin-right: 5px;
  flex: 1;
}

.linha {
  margin-top: 20px;
}

.linha-cinza {
  background: #e6e7e4;
  height: 5px;
  width: 325px;
  margin-top: 15px;
}

.footer {
  background: white;
  width: 100%;
  height: 50px;
  margin-top: -5px;
  border: #e6e7e4;
  border-style: solid;
  border-top-style: none;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}